header(class="navbar navbar-fixed-top navbar-inverse")
    div(class="navbar-inner")
        div(class="container")
          img(src= "/images/luminolwallpaper.jpg", width="150", height="120")
          nav
            ul(class="nav pull-right")
              li: a(href="#configuracion") Configuración
              li: a(href="#login") Iniciar sesión
